/* @font-face {
    font-family: horror;
    src: url(./Another\ Danger\ -\ Demo.otf);
}

@font-face {
    font-family: nothing;
    src: url(./Ndot-55.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

h1 {
    background-color: black;
    color: blueviolet !important;
    font-size: 60px;
    font-family: 'horror';
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;

}

p {
    font-family: 'nothing';
    font-size: 30px;
    text-align: center;
    color: black;
}

div {
    height: 500px;
    width: 500px;
    background: radial-gradient(red, blue, green);
    /* background-image: url(https://plus.unsplash.com/premium_photo-1776431502421-9524c1a2a64f?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);   
    background-size: cover;
    background-position: center;

}

div p {
    color: white;
}

#one {
    color: green;
}

.class {
    color:red;
}

#box {
    width: 500px;
    height: 500px;
    background-color: rgb(175, 66, 66) !important;
    background-image: none;
    padding-left: 80px;
}

#box #inner {
    height: 300px;
    width: 300px;
    background-color: rgb(218, 15, 204) !important;
    background-image: none;
}

#box2 {
    width: 500px;
    height: 500px;
    background-color: rgb(209, 9, 9) !important;
    background-image: none;
    margin-left: 50px; margin-right: 50px; margin-top: 50px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
}

button {
    background-color: aqua;
    margin: 50px;
    padding: 20px 40px;
    border-radius: 20px;
}

button:hover {
    color: white;
    background-color: black;
    border: 1px aqua solid;
    transition: all ease-in-out;
}

button:active {
    color: white;
    background-color: black;
    border: 1px aqua solid;
    transition: all ease-in-out 0.3s;
}
 
#box5 {
    width: 500px;
    height: 500px;
    background-color: crimson;
    margin-top: 100px;
    position: absolute;
    right: 30%;
    z-index: 3;
}

#box6 {
    width: 500px;
    height: 500px;
    background-color: royalblue;
    position: absolute;
    right: 50%;
    z-index: 2;
}

#box7 {
    width: 500px;
    height: 500px;
    background-color: lightseagreen;
    position: absolute;
}

.boxes {
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

#box8 {
    width: 500px;
    height: 500px;
    color: pink;
}
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

#box {
    width: 500px;
    height: 500px;
    background-color: pink;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#kishan {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 50px;
}