*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #090706;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17%;
    width: 100%;
}

header h1 {
    font-family: ;
    font-size: 58px;
    color: white;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 24px;
}

.card {
    width: 25px;
    height: 215px; 
    background-color: #120e0c;
    border-radius: 30px;
}

#card1 {
    border: 1px solid #df7b22;
}

main {
    width: 100%;
    height: 100%;
}
.section2 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 70%;
    padding: 0px 35px;
}

.big-card{
    /* height: 450px;
    width: 1850px; */
    width: 100%;
    height: 183px;
    border-radius: 30px;
    background-color: #120e0c;
}