*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: naville;
    src: url("Fonts/Naville-Regular DEMO.ttf");
}

@font-face {
    font-family: nimbus;
    src: url("Fonts/Nimbus Sans Novus W01 Regular.ttf");
}

body {
    background-color: #f0f0f0;
}

#hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



#asterisk {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 56px;
}

.heading {
    position: absolute;
    font-family: nimbus;
}

#heading1 {
    font-size: 50px;
    color: #50080b;
    max-width: 40%;
    top: 60px;
    left: 200px;
}

#image1 {
    width: 120px;
    position: absolute;
    left: 582px;
    top: 100px;
}

#heading1cont {
    font-size: 50px;
    color: #50080b;
    max-width: 40%;
    margin-top: 60px;
    margin-left: 200px;
    top: 55px;
    left: 490px;
}

#heading2 {
    font-size: 50px;
    color: #ad9795;
    left: 375px;
    top: 165px;
    max-width: 500px;
}

#heading3 {
    font-size: 50px;
    color: #ad9795;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    text-align: center;
}

.paragraph {
    font-family: nimbus;
    font-size: 12px;
    color: #ad9795;
    position: absolute;
}

#paragraph1 {
    max-width: 17%;
    top: 280px;
    left: 375px;
}

#paragraph2 {
    max-width: 23%;
    bottom: 15px;
    transform: translateX(-50%);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#tagline {
    font-family: nimbus;
    font-size: 15px;
    color: #50080b;
    position: absolute;
    top: 65px;
    right: 20px;
    text-align: right;
}

#container {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 20px;
    top: 80px;
    left: 375px;
    /* background-color: red; */
}

#container img {
    width: 250px;
    height: 300px;
    border-radius: 30px;

}

#projects {
    font-family: nimbus;
    font-size: 20px;
    font-weight: 800;
    color: #50080b;
    position: absolute;
    bottom: 200px;
    left: 20px;
    max-width: 10px;
    text-decoration: underline;
}

.color-maroon {
    color: #50080b;
}

